.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.nav__logo {
  position: absolute;
  left: -50px;
  height: 39px;
  width: 105px;
  margin: 0;
}
.nav__links {
  justify-content: flex-end;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
/*Header content*/

.header__title {
  max-width: 709px;
  margin-top: 128px;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}
.header__span-accent {
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: black;
}
.header__description {
  max-width: 683px;
  font-size: 20px;
  margin-top: 28px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

.header__image {
  max-width: 646px;
  max-height: 658px;
  position: absolute;
  right: 5px;
  top: 124px;
}

/*Header footer*/
.header__footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding: 0;
}

.header__paragraph {
  position: absolute;
  bottom: 40px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #838383;
  line-height: 0;
}

.header__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  display: flex;
  align-items: flex-end;
}

/*Main_recipes*/
.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 100px 80px 215px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2850;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  color: #ffffff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-top: 80px;
}

.recipes__videos-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-captions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
